<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d5e4b139-aeb1-4ca3-af0e-c1f518f67408/resourcegroups/apimycell20200402125610ResourceGroup/providers/Microsoft.Web/sites/apiminhacelula</ResourceId>
    <ResourceGroup>apimycell20200402125610ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiminhacelula.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiminhacelula.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apiminhacelula</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$apiminhacelula</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=minhaceluladb.database.windows.net;Initial Catalog=minhaceluladb;Persist Security Info=True;User ID=igreja;Password=MinhaCelula10*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="apimycell.Models.DatabaseContext, apimycell" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Conexao" Order="2" Enabled="False">
          <Destination Path="Data Source=minhaceluladb.database.windows.net;Initial Catalog=minhaceluladb;Persist Security Info=True;User ID=igreja;Password=MinhaCelula10*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MinhaCelula.DAL.DatabaseContext, MinhaCelula.DAL" MigrationConfiguration="MinhaCelula.DAL.Migrations.Configuration, MinhaCelula.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Conexao-Web.config Connection String">
      <ParameterValue>Data Source=minhaceluladb.database.windows.net;Initial Catalog=minhaceluladb;Persist Security Info=True;User ID=igreja;Password=MinhaCelula10*</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=minhaceluladb.database.windows.net;Initial Catalog=minhaceluladb;Persist Security Info=True;User ID=igreja;Password=MinhaCelula10*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>