
@{
    Layout = null;
}

<h3>Bem vindo ao Minha Célula!</h3>
<br />

<p>É um prazer recebê-lo em nosso time!</p>

<p>Fique a vontade para descobrir recursos, dar sugestões e reportar bugs.</p>

<p>Principais recursos:</p>
<ul>
    <li>Gerenciador de células;</li>
    <li>Gerenciador de membros;</li>
    <li>Lista de chamada;</li>
    <li>Registro de oferta;</li>
    <li>Relatórios;</li>
</ul>
<br />
<hr />
<br />
<p>Você foi adicionado pelo(a) <b>{0}</b></p>

<p>Use a seguinte <b>senha</b> para logar em nosso app: <b>{1}</b></p>

<p>Lembre-se de trocá-la quando entrar!</p>
<br />
<br />
<br />
<p>Atenciosamente, <b><i>Minha Célula!!!</i></b></p>